.blog{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    margin-bottom: 10px;
    display: flex;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 5px #eee;
    border-radius: 5px;
    width: 850px;
    height: 252px;
}

.img img{
    width: 400px;
    height: 250px;
    object-fit: cover;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.img img:hover{
    opacity: 0.8;
}

.card-body {
    padding: 0px 20px;
}

.title{
    text-decoration: none;
}

.title h4{
    font-size: 22px;
    font-weight: 600;
    margin: 10px 0;
    color: #3a3a3a;
}

.title h4:hover{
    color: #3a3a3abe;
    transition: 0.1s;
}

.date{
    font-size: 15px;
    color: #555;
}

.des{
    font-size: 15px;
    color: #333;
    margin: 10px 0;
}

.card-body .btn button a {
    text-decoration: none;
    color: #555;
}

.card-body .btn button:hover {
    background-color: #0076fa;
    transition: 0.3s;
}

.card-body .btn button:hover a {
    color: #fff;
    transition: 0.3s;
}

.card-body .btn button {
    background-color: #fff;
    font-weight: 600;;
    border-radius: 5px;
    padding: 10px 14px;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid #aaa;
}

a{
    text-decoration: none;
}

@media screen and (max-width: 900px) {
    .card {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
    .img img{
        width: 100%;
        height: 250px;
        border-radius: 0;
    }
    .card-body {
        padding: 0px 20px;
    }

    .card-body .btn button {
        margin: 10px;
    }
}