.header{
    display: flex;
}
.txt-btn{
    padding: 0px 10px;
}
.txt-btn .btn button a{
    text-decoration: none;
}
.txt-btn .btn button:hover{
    background-color: rgb(255, 166, 0)
}
.txt-btn .btn button{
    background-color: yellow

}
.header{
 margin-bottom: 10px;
 display: flex;
}
