.content{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container img {
    width: 320px;
    margin: 0px 0px;
    border-radius: 5px;
}

.detail-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.primary-info{
    padding-left: 50px;
    padding-right: 50px;
}

.primary-info h1{
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0px;
    margin-top: 20px;
    color: #444;
    text-align: center;
}

.primary-info .address {
    text-align: center;
    color: #5a5a5a;
    margin: 0 0 15px 0;
    font-size: 15px;
}

.primary-info .desc{
    text-align: justify;
    color: #5a5a5a;
    margin: 0 0 10px 0;
    text-indent: 30px;
}

.contact {
    font-size: 40px;
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0 30px 0;
}

.wa{
    color: #00ca00;
}

.fb{
    color: #0076f0;
}

.ig{
    color: #D96464;
}

.wa:hover, .fb:hover, .ig:hover{
    color: #7a7a7a;
}

.container-left {
    margin-top: 30px;
    width: 60%;
}

.text-heading h2{
    font-size: 25px;
    line-height: 18px;
    color: #333;
    text-align: center;
}

.text-heading p {
    font-size:large;
    line-height: 18px;
}

.container {
    margin-top: 30px;
}

.container a {
    text-decoration: none;
}

h2 {
    margin-top: 50px;
    line-height: 0px;
    text-align: left;
}

.card-parent .card {
    width: 150px;
    margin: 10px;
    border-radius:5px;
    box-shadow: 1px 1px 5px #ccc;
}

.title {
    text-align: center;
}

.card img {
    width: 148px;
    height: 110px;
    margin-top: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: block;
    margin: 0 auto;
}

.card-parent {
    display: flex;
    padding: 5px 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.text p {
    color: #333;
}

nav{
    background-color: #0076f0;
}

.container-right{
    margin-top: 30px;
    padding: 0 30px;
}

.container-right .card{
    height: 100%;
    box-shadow: 1px 1px 5px 1px #ccc;
    border-radius: 5px;
    margin: 20px 10px;
    width: 350px;
}

.card:hover{
    box-shadow: 1px 1px 5px #0076f0;
}

.container-right h2{
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.container-right img{
    width: 150px;
    height: 150px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.container-right h3{
    text-align: left;
    padding-left: 10px;
}

.container-right h3:hover{
    color: #0076f0;
}

.container-right p{
    text-align: left;
    padding-left: 10px;
}

.container-right .title{
    display: flex;
}

.title .card-text a{
    text-decoration: none;
    color: #3a3a3a;
}

.card-desc{
    font-size: 15px;
    color: #5a5a5a;
    padding: 0 10px;
}

.card-desc a:hover{
    color: #0076f0;
}

/* tampilan tablet */
@media screen and (max-width: 768px){
    .container{
        margin: 0;
    }

    content{
        flex-wrap: wrap;
    }

    .card-group .card{
        display: block;
        margin: 15px auto;
        width: 300px;
    }

    .card-desc{
        font-size: 12px;
    }

    .container-left{
        width: 100%;
    }

    .container-right{
        width: 100%;
    }

    .detail-top{
        width: 100%;
    }
}