.container h1 {
    font-family: 'Overpass', sans-serif;
    font-size: xx-large;
    line-height: 0px;
    text-align: left;
}

.content{
    display: flex;
}

.address {
    font-family: 'Overpass', sans-serif;
    font-size: smaller;
    font-weight: 600;
    line-break: auto;
    padding: 7px;
    text-align: left;
    
}


.container img {
    width: 400px;
    margin: 0px 0px;
}
.contact {
    font-family: 'Overpass', sans-serif;
    font-size: medium;
    line-height: 23px;
    
}

.container-left {
    margin: 0px;
    
}

.text-heading {
    font-family: 'Overpass', sans-serif;
    font-size: large;
    line-height: 18px;
}


.text-heading p {
    font-family: 'Overpass', sans-serif;
    font-size:large;
    line-height: 18px;
}

.container {
    margin-top: 30px;
    
}

.container a {
    text-decoration: none;
}

h2 {
    font-family: 'Overpass', sans-serif;
    margin-top: 50px;
    line-height: 0px;
    text-align: left;
}

.card-ori .card {
    width: 150px;
    height: 180px;
    margin: 10px;
    padding: 0px;
    border-radius:5px;
    box-shadow: 1px 1px 5px grey;
    
}
.title {
    text-align: center;
}

.card img {
    width: 150px;
    height: 150px;
    margin-top: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-ori {
    display: flex;
    padding: 5px 10px;
}


.title h3 {
    font-family: 'Overpass', sans-serif;

}

.text p {
    font-family: 'Overpass', sans-serif;
    margin-top: 0;
}

nav{
    background-color: #0076f0;

}

.card-group.card {
    width: fit-content;
    margin: 10px;
    margin-bottom: 20px;
    padding: 1px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px #bbb;
}

.container-right{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.container-right .card{
    width: 400px;
    height: 200px;
    box-shadow: 1px 1px 10px 1px #bbb;
    border-radius: 5px;
    margin: 10px;
}
.container-right h2{
    text-align: center;
}

.container-right img{
    width: 199px;
    height: 199px;
    padding-top: 1PX;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.container-right h3{
    text-align: left;
    padding-left: 10px;
}

.container-right p{
    text-align: left;
    padding-left: 10px;
}

.container-right .title{
    display: flex;
}