.card{
    /* box-shadow: 1px 1px 5px;
    width: 230px;
    border-radius: 30px;
    margin:20px;
    padding-top: 5px; */
    box-shadow: 1px 1px 5px;
    padding: 10px 0px;
    border-radius: 5px;
}
.card .title-text{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
 
}
.card .title-text{
    text-align: center;
}
.title-text h4{
    text-decoration: none;
    margin: 1px 0;
}

.card  a{
   text-decoration: none;
 
}

.cat-ori{
    display: flex;
    margin: 10px;
    padding: 20px;
}

.img-card img{
    width: 300px;
    display: block;
    margin: 0 auto;
}

.cat-ori a{
    text-decoration: none;
}
.card-group{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container{
    background-color: white;
}
.group2{
    display: flex;
}
.group3{
    display: flex;
}ssss
.container{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}
nav{
    background-color: #277bc0;
}